<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Type</th>
      <th>Bank</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < payment.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= payment[i].type %></td>
          <td>
            <% payment[i].banks.forEach(item => { %>
              <span class="badge badge-info">
                <%= item.name %> (<%= item.bank_name %> - <%= item.number %>)
              </span>
            <% }) %>
          </td>
          <td>
            <% if(payment[i].status === 'Y') { %>
              <span class="badge badge-success">AKTIVE</span>
            <% } else { %>
              <span class="badge badge-danger">NON AKTIVE</span>
            <% } %>
          </td>
          <td class="d-flex">
            <form class="mr-2" action="/payment/status/<%= payment[i]._id %>?_method=PUT" method="POST">
              <button class="btn btn-sm btn-primary">
                <i class="fas fa-folder"></i>
                <% if(payment[i].status === 'Y') { %>
                  Disable
                <% } else { %>
                  Activate
                <% } %>
              </button>
            </form>
            <a href="/payment/edit/<%= payment[i]._id %>" class="btn btn-sm btn-info mr-2">
              <i class="fas fa-pencil-alt"></i> Edit</a>
              <form action="/payment/delete/<%= payment[i]._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">
              <i class="fas fa-trash"></i> Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
    </tbody>
</table>